.recipe-card {
    flex-basis: calc(20% - 1%);
    border: solid;
    border-color: gainsboro;
}

.recipe-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    text-align: center;
}

.recipe-image {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}